{% extends "main.html" %}
{% block content %}
<div class="main_content_RS">
<h1>Departments:</h1>
<a class="dep_link" href='{{url_for('newDepartment')}}'>Create New Department</a>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong class="flash_msg">{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<br>
<br>
<br>

{% for i in allDep %}
  {% if loggedUser == i.user_id %}

    <div>
      <a class="dep_name" href='{{url_for('departmentApps', department_id = i.id)}}'>{{i.name}}</a><br>
      <a class="dep_link" href='{{url_for('editDepartment', department_id = i.id)}}'>Edit</a>
      <a class="dep_link" href='{{url_for('deleteDepartment', department_id = i.id)}}'>Delete</a>
      <br>
      <br>
    </div>

  {% else %}
    <div>
      <a class="dep_name" href='{{url_for('departmentApps', department_id = i.id)}}'>{{i.name}}</a>
      <br>
      <a class="dep_link">Not Dept owner</a>
      <br>
      <br>
    </div>

  {% endif %}
{% endfor %}
</div>
{% endblock %}
