{% extends "main.html" %}
{% block content %}
<div class="main_content_RS">
<h1>{{department.name}} Apps</h1>

{% if loggedUser == department.user_id %}

  <div>
    <a class="dep_link" href='{{url_for('newApp', department_id=department.id)}}'>Create New Department</a></br></br>
    </br>
  </div>
{% else %}
  <div>
    <br>You are not the owner of this department...<br>
    </br>
  </div>

{% endif %}


{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% for i in apps %}
{% if loggedUser == department.user_id %}
  <div>
    <a class="dep_name" href='{{url_for('departmentAppsDesc', department_id = department.id, application_id = i.id)}}'>{{i.name}}</a><br>
    <a class="dep_link" href='{{url_for('editApp', department_id = department.id, application_id = i.id)}}'>Edit</a>
    <a class="dep_link" href='{{url_for('deleteApp', department_id = department.id, application_id = i.id)}}'>Delete</a><br><br>
  </div>
{% else %}
  <div>
    <a class="dep_link" href='{{url_for('departmentAppsDesc', department_id = department.id, application_id = i.id)}}'>{{i.name}}</a><br><br>
  </div>
{% endif %}
{% endfor %}
<a class="dep_link" href = "{{ url_for('departments')}}">Go back</a>
</div>
{% endblock %}
