<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete {{i.name}} Department</title>
</head>

<body>

<p><a href='{{url_for('disconnect')}}'>Log Out</a></p>
<p><a>Logged in as: {{userEmail}}</a></p>
<img src="{{userPicture}}" alt="SME Logo" style="width:50px;height:50px">
<p><a href='{{url_for('departments')}}'>Home</a></p>
<h1> Are you sure you want to delete {{i.name}} Department? </h1>

<form action="{{ url_for('deleteDepartment', department_id=i.id)}}" method = 'post'>

<input type='submit', value = 'Delete Item'>

</form>

</br>
<a href = "{{ url_for('departments')}}">Cancel</a>
</body>

</html>
