<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel=icon type=image/png href="{{ url_for('static', filename='ks.png') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  <title>Welcome to SM Energy - Department Apps</title>
</head>
<body>
  <div class="top-menu">
    <p>outside header</p>
    {{ url_for('static',filename='styles.css') }}
  </div>
</body>
</html>
