<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel=icon type=image/png href="{{ url_for('static', filename='anon.png') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  <title>Welcome to SM Energy - Department Apps</title>
</head>
<body>
  <div class="container">
    {% include "header.html" %}
    <div class="main_section">
      {% include "left_section.html" %}
      <div class="divider_width"></div>
      <div class="right_section">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% include "footer.html" %}
  </div>
  <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='jquery.js')}}">  </script>
</body>
</html>
