<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create New Department</title>
</head>

<body>
<p><a href='{{url_for('disconnect')}}'>Log Out</a></p>
<p><a>Logged in as: {{userEmail}}</a></p>
<img src="{{userPicture}}" alt="SME Logo" style="width:50px;height:50px">
<p><a href='{{url_for('departments')}}'>Home</a></p>

{% if noDep %}
  <h1>{{noDep}}</h1>
{% else %}
  <h1> Create New Department </h1>
{% endif %}


<form action="{{url_for('newDepartment')}}" method = 'POST'>

<p>Name:</p>

<input type='text' size='25' name='name' placeholder='New Name' autofocus>

<input type='submit' value='Create'>
</br>
<p><a href='{{url_for('departments')}}'>Cancel</a></p>
</form>

</body>

</html>
