<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Apps</title>
</head>
<body>

<p><a href='{{url_for('showLogin')}}'>Log In</a></p>
<p><a href='{{url_for('departments')}}'>Home</a></p>
<h1>Apps</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% for i in apps %}

<div>
<p><a href='{{url_for('departmentAppsDesc', department_id = department.id, application_id = i.id)}}'>{{i.name}}</a></p>
</div>
</br>
{% endfor %}

</body>
</html>
