<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Departments</title>
</head>

<body>
<p><a href='{{url_for('showLogin')}}'>Log In</a></p>
<h1>Departments:</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for i in allDep %}
<div>
<p><a href='{{url_for('departmentApps', department_id = i.id)}}'>{{i.name}}</a></p>
</div>


{% endfor %}

</body>

</html>
